/*Шрифты*/

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.woff2") format('woff2');
    src: url("../fonts/Roboto-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.woff2") format('woff2');
    src: url("../fonts/Roboto-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.woff2") format('woff2');
    src: url("../fonts/Roboto-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.woff2") format('woff2');
    src: url("../fonts/Roboto-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.woff2") format('woff2');
    src: url("../fonts/Roboto-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

/*Общие стили*/

body {
    font-family: "Roboto";
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1226px;
    box-shadow: 0 10px 20px 10px #dedede;
}

._customer-visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    top: 0;
    left: 0;
}

._customer-wrapper {
    width: 100%;
    max-width: 1148px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 30px;

    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}

/*Заголовки секций*/

._customer-chapter {
    display: flex;
    position: relative;
    width: 260px;
    height: 90px;
    margin: 25px 0;

    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}

._customer-chapter__title {
    margin-left: 30px;
}

._customer-chapter__img {
    position: absolute;
    top: 28px;
    left: 4px;
}

@media (min-width: 520px) {
    ._customer-chapter {
        width: 520px;
        height: 90px;
    }
}

@media (min-width: 768px) {
    ._customer-chapter {
        width: 760px;
        height: 66px;
    }
}

/*Кнопки*/



/*Секция "Вступление"*/

._customer-about {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    background-color: #F0F0F0;
    border-radius: 6px;
}

._customer-about__content {
    height: auto;
    margin: 20px;
    margin-top: 0;
    text-align: left;
    font-size: 15px;
    line-height: 1.2;
}

._customer-about__img {
    width: 59px;
    height: 52px;
    margin: 10px;
}

@media (min-width: 768px) {
    ._customer-about {
        flex-direction: row;
        margin-bottom: 60px;
    }

    ._customer-about__content {
        margin: 30px 60px 30px 30px;
    }

    ._customer-about__img {
        margin: 30px 0px 50px 30px;
    }
}

/*Секция "Услуги монтажа и демонтажа ..."*/

._customer-services {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1.4;
}

._customer-services__content {
    color: #3e3e3e;
}

._customer-services__list-title {
    font-weight: bold;
    color: #303030;
}

._customer-services__list {
    list-style: none;
    color: #7a7a7a;
    margin-left: -40px;
    line-height: 1.6;
}

._customer-services__list li::before {
    content: "\2022";
    color: #7a7a7a;
    font-weight: bold;
    display: inline-block;
    width: 12px;
}

@media (min-width: 768px) {

    ._customer-services__unit {
        position: relative;
    }

    ._customer-services__icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    ._customer-services__unit.unit--left,
    ._customer-services__unit.unit--right {
        padding-left: 120px;
        padding-right: 26px;
    }

    ._customer-services__subtitle {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {

    ._customer-services {
        flex-direction: row;
        margin-bottom: 80px;
    }

    ._customer-services__unit.unit--left {
        width: 470px;
    }

    ._customer-services__unit.unit--right {
        width: 410px;
        padding-right: 0;
    }
}

/*Секция "Узнайте стоимость монтажа и демонтажа ..."*/

._customer-request-price {
    position: relative;

    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}

._customer-request-price__background {
    margin: 0 auto;
    width: 100%;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 10px #b4b4b4;
}

._customer-request-price__img {
    display: none;
}

._customer-request-price__wrapper {
    position: absolute;
    top: 0;
    left: 40px;
    height: auto;
    margin: 0 auto;
    padding-right: 20px;
    text-align: left;
}

@media (min-width: 768px) {
    ._customer-request-price__img {
        display: block;
        position: absolute;
        right: 56px;
        top: -30px;
    }

    ._customer-request-price__wrapper {
        max-width: 290px;
    }
}

@media (min-width: 868px) {
    ._customer-request-price__wrapper {
        max-width: 370px;
    }
}

@media (min-width: 1024px) {
    ._customer-request-price__wrapper {
        max-width: 530px;
    }
}

/*Секция "Цены на монтаж холодильных камеры"*/

/*#####################################################*/
/*#####################################################*/
/*#####################################################*/
/*#####################################################*/


/*Секция "Поможем при переезде..."*/

._customer-request-relocation {
    position: relative;


    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
    margin-top: 200px;
    margin-bottom: 200px;
}

._customer-request-relocation__background {
    margin: 0 auto;
    width: 100%;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 10px #b4b4b4;
}

._customer-request-relocation__img {
    display: none;
}

._customer-request-relocation__wrapper {
    position: absolute;
    top: 0;
    left: 40px;
    height: auto;
    margin: 0 auto;
    padding-right: 20px;
    text-align: left;
}

@media (min-width: 768px) {
    ._customer-request-relocation__img {
        display: block;
        position: absolute;
        right: 136px;
        top: -25px;
    }

    ._customer-request-relocation__wrapper {
        max-width: 370px;
    }
}

@media (min-width: 1024px) {
    ._customer-request-relocation__wrapper {
        max-width: 530px;
    }
}












._customer-request {


    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}

._customer-request--price {
    display: flex;
    flex-direction: column;
    min-height: 370px;
}

._customer-prices {
    display: flex;

    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}

._customer-camera-prices {
    display: flex;
    flex-direction: column;

    /*Эти стили УБРАТЬ*/
    border: 1px solid #f41f10;
}